.venv/
node_modules/
theme/node_modules/
theme/static/css/dist/
media/
static/
*.sqlite3
db.sqlite3
__pycache__/
*.pyc
.git/
.gitignore
.env.local
docker-compose.yml
*.swp
.DS_Store
.python-version
.vscode/
.idea/
